<div class="container-fluid p-0 ">
    <div class="row">
        <div class="col-6 style d-flex">
            <span class="material-icons">
                delete
                </span>
                Delete Patient
        </div>
    </div>
    <div class="row border-top">
        Are you sure  you want to delete inserts patient name here from the list of patients?

    </div>
    <div class="row border-top">
        <div class="col-9 pt-2 text-end">
            <button mat-button class="delete" (click)="OnclickDeleteData()">Yes</button>
        </div>
        <div class="col-2 pt-2">
            <button mat-button class="cancel" (click)="onNoClick()">Cancel</button>

        </div>
        

    
    </div>
