.delete{
    background-color: red;
    color:white;
}

 .cancel{
     background-color: rgb(193, 185, 185);}

     .mat-dialog-container {
        display: block;
        padding: 24px;
        border-radius: 4px;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        width: 70%;
        height: 100%;
        min-height: inherit;
        max-height: inherit;}

