<router-outlet></router-outlet>
<div class="row  mt-2">
  <div class="col-6 text-center">
    <button mat-raised-button class="color">+ Add Patient</button>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-8">
      <table>
        <tr class="tablecolor">
          <th>Name</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Check-in</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>Patient One</td>
          <td>23</td>
          <td>Male</td>
          <td>01/23/2021</td>
          <td><mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
          <mat-icon>person_add_alt_1</mat-icon>
        </td>
        </tr>
        <tr>
          <td>Patient Two</td>
          <td>12</td>
          <td>Female</td>
          <td>12/12/2021</td>
          <td><mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
          <mat-icon>person_add_alt_1</mat-icon>
        </td>
        </tr>
        <tr>
          <td>Patient Three</td>
          <td>64</td>
          <td>Undisclosed</td>
          <td>06/04/2021</td>
          <td><mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
          <mat-icon>person_add_alt_1</mat-icon>
        </td>
        </tr>
        <tr>
          <td>Patient Four</td>
          <td>32</td>
          <td>Male</td>
          <td>03/20/2021</td>
          <td><mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
          <mat-icon>person_add_alt_1</mat-icon>
        </td>
        </tr>
        <tr>
          <td>Patient Five</td>
          <td>45</td>
          <td>Female</td>
          <td>04/05/2021</td>
          <td><mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
          <mat-icon >person_add_alt_1</mat-icon>
        </td>
        </tr>
      </table>
      ​
      </div>
</div>