<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-12 container">
            <div class="row border-top">
                <div class="col-6 style d-flex">
                    <mat-icon>person</mat-icon>insert patient name here
                </div>
            </div>
            <div class="row border-top">


                <div class="col-12">
                    <mat-label>Basic status</mat-label>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-2">
                    <mat-label>*Height(cm):</mat-label>
                    <input style="width:60px;" type="text" id="fname" name="fname"><br>

                </div>
                <div class="col-2">
                    <mat-label>*weight(cm):</mat-label>
                    <input style="width:60px;" type="text" id="fname" name="fname"><br>

                </div>
                <div class="col-6 mt-4">
                    <mat-label>Body mass index< BMI based on height & weight>
                    </mat-label>


                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 mt-2"> 
                    <mat-label>*Smoking</mat-label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <mat-radio-button>heavy smoker </mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>moderate smoker</mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>light smoker</mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>casual smoker </mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>Non smoker </mat-radio-button>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <mat-label>*Alcohol Driking</mat-label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <mat-radio-button>heavy Driking </mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>moderate Driking</mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>light Driking</mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>casual Driking</mat-radio-button>
                </div>
                <div class="col-2">
                    <mat-radio-button>Non drinker </mat-radio-button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mt-2">
                    <mat-label>*Drug Usage</mat-label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <mat-checkbox>Amphetamines </mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Heroiene</mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Barbiturates</mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Marijuana </mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>No drugs</mat-checkbox>
                </div>
                <div class="col-2 d-flex">
                    <mat-label>Others:</mat-label><input>
                </div>
              
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <mat-label>*Surgeries</mat-label>
                </div>
            </div>
            <div class="row mt-2">

                <div class="col-2">
                    <mat-checkbox>Heart surgery</mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Breast surgery</mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Leg surgery</mat-checkbox>
                </div>
                <div class="col-2">
                    <mat-checkbox>Arm surgery</mat-checkbox>
                </div>
                <div class="col-2 d-flex">
                    <mat-label>Others:</mat-label><input>
                </div>            
            </div>
        </div>
       
    </div>
</div>
<div class="row mt-4">
    <div class="col-9 text-end pt-2">
        <button mat-button class="color">Save</button>
    </div>
    <div class="col-2 pt-2">
        <button mat-button class="color1">Go to Dashboard</button>
    </div>
</div>
