<!-- <div class="row justify-content-center mt-3">
    <div class="col-1">
      </div>
      <div class="col-6">
      
      <button mat-raised-button class="color">+ Add Patient</button>
  
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 tablecolor">
          Name
        </div>
        <div class="col-2 tablecolor">
          Age
        </div>
        <div class="col-2 tablecolor">
          Sex
        </div>
        <div class="col-2 tablecolor">
          Check-in
        </div>
        <div class="col-2 tablecolor">
          Actions
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 ">
          Patient One
        </div>
        <div class="col-2">
          23
        </div>
        <div class="col-2">
          Male
        </div>
        <div class="col-2 icon2">
          01/23/2021
        </div>
        <div class="col-3 ">
         <mat-icon class="icon">edit</mat-icon>
         <mat-icon class="icon">delete</mat-icon>
         <mat-icon class="icon">person_add_alt_1</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 ">
          Patient Two
        </div>
        <div class="col-2">
          12
        </div>
        <div class="col-2">
          Female  
        </div>
        <div class="col-2 icon2">
          12/12/2021
        </div>
        <div class="col-3 ">
         <mat-icon class="icon">edit</mat-icon>
         <mat-icon class="icon">delete</mat-icon>
         <mat-icon class="icon">person_add_alt_1</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 ">
          Patient Three
        </div>
        <div class="col-2">
          64
        </div>
        <div class="col-2">
          Undisclosed
        </div>
        <div class="col-2 icon2">
          06/04/2021
        </div>
        <div class="col-3 ">
         <mat-icon class="icon">edit</mat-icon>
         <mat-icon class="icon">delete</mat-icon>
         <mat-icon class="icon">person_add_alt_1</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 ">
          Patient Four
        </div>
        <div class="col-2">
        32
        </div>
        <div class="col-2">
          Male
        </div>
        <div class="col-2 icon2">
          03/20/2021
        </div>
        <div class="col-3 ">
         <mat-icon class="icon">edit</mat-icon>
         <mat-icon class="icon">delete</mat-icon>
         <mat-icon class="icon">person_add_alt_1</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-5">
      <div class="row">
        <div class="col-3 ">
          Patient Five
        </div>
        <div class="col-2">
          45
        </div>
        <div class="col-2">
          Female
        </div>
        <div class="col-2 icon2">
          04/05/2021
        </div>
        <div class="col-3 ">
         <mat-icon class="icon">edit</mat-icon>
         <mat-icon class="icon">delete</mat-icon>
         <mat-icon class="icon">person_add_alt_1</mat-icon>
        </div>
      </div>
    </div>
  </div> -->
